.metadata
workspace/magisterka/lib
workspace/magisterka/build
workspace/magisterka/war/WEB-INF/*/
workspace/magisterka/war/ir
workspace/testy
.svn
workspace/magisterka/lucene/
workspace/magisterka/lucene - Kopia
workspace/lucene*/
workspace/magisterka/gwt-unitCache/
*.class
