/** Add css rules here for your application. */

/** Example rules used by the template application (remove for your app) */
body {
	font: 13px/1.22 arial, helvetica, clean, sans-serif !important;
	margin: 0px;
	padding: 0px;
}

h1 {
	font-size: 2em;
	font-weight: bold;
	color: #bbbbbb;
	margin-top: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-bottom: 0px;
	margin-left: 10px;
}

.headerSearch {
	margin: 0px;
	padding: 0px;
	padding-top: 40px;
	background: black;
	padding-left: 100px;
	height: 50px;
}

.sendButton {
	background: none repeat scroll 0 0 #3274D0;
	border: 1px solid #444444;
	color: #FFFFFF;
	cursor: pointer;
	float: left;
	font-weight: bold;
	height: 24px;
	padding-top: 2px;
	padding-bottom: 8px;
	padding-left: 5 px;
	padding-right: 5px;
	position: relative;
	margin: 0;
	margin-left: 10px;
	text-align: left;
	font-size: 76%;
}

a:link {
	text-decoration: none;
	color: #3274D0;
}

a:visited {
	text-decoration: none;
	color: #3274D0;
}

a:HOVER {
	text-decoration: underline;
	color: #3274D0;
}

.results-search-title {
	font-weight: bold;
}

.results-search-link {
	font-weight: bold;
	font-size: 76%;
}

.results-search-text {
	margin-top: 5px;
}

.results-search-services {
	margin-top: 5px;
	font-size: 75%;
}

.results-search-services a { /*
	background-color: #dddddd;
	color: black;
	*/
	color: #3274D0;
	padding: 1px;
	padding-left: 3px;
	padding-right: 3px;
	margin: 4px;
}

.results-search-services a:HOVER { /*background-color: # !important;*/
	color: #3274D0;
	text-decoration: none;
}

.results-search-tags {
	margin-top: 5px;
	font-size: 75%;
}

.results-search-tags a { /*background-color: #3274D0;
	color: black;
	*/
	padding-left: 3px;
	padding-right: 3px;
	margin: 5px;
	color: #3274D0;
}

.results-search-tags a:HOVER { /*background-color: #555555 !important;
		text-decoration: none;
	*/
	color: #3274D0;
}

.results-search-block {
	margin-left: 10px;
}

.results_div {
	color: #3274D0;
	font-weight: bold;
	font-size: 130%;
}

.mainTable {
	margin: 0px;
	padding: 0px;
	width: 100%;
}

.headerPannel>tbody>tr:FIRST-CHILD {
	height: 65px;
	margin: 0px;
	padding: 0px;
	margin-top: 0px;
	padding-top: 0px;
}

.headerPannel>tbody>tr:FIRST-CHILD td {
	background-color: #dddddd !important;
	margin: 0px;
	padding: 0px;
	padding-top: 10px;
}



.searchInput {
	border: 1px solid #444444;
	color: #999999;
	float: left;
	font-size: 92%;
	height: 25px;
	margin: 0px;
	margin-right: 4px;
	margin-left: 100px;
	padding: 3px 4px 1px 2px;
	width: 40em;
}

.resultsTable {
	
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
	width: 400px;
}

.dialogVPanel {
	margin: 5px;
}

.serverResponseLabelError {
	color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
	margin: 15px 6px 6px;
}
.results-panel{
padding-left: 100px;
}
.results-panel td {
	padding-top: 20px;
	padding-bottom: 10px;
	border-bottom: solid #bbbbbb 1px;
	padding-right: 100px;
	
	padding-top: 10px;
	width: 100%;
}

.resultsTable td {
	
}

.results-panel {
	width: 900px;
}


.data-field{
	margin-left:100px;
}


.searchData {
	border: 1px solid #444444;
	color: #999999;
	float: left;
	font-size: 92%;
	height: 25px;
	margin: 0px;
	margin-right: 40px;
	margin-left: 10px;
	padding: 3px 4px 1px 2px;
	width: 40em;
}
