<!DOCTYPE hibernate-configuration SYSTEM
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">
			com.mysql.jdbc.Driver
		</property>
		 
		<property name="hibernate.connection.url">
			jdbc:mysql://localhost:3306/ir
		</property>
		 
		<property name="hibernate.connection.username">
			root
		</property>
		<property name="hibernate.connection.password">dma666</property>
		<property name="dialect">
			
			org.hibernate.dialect.MySQL5Dialect
		</property>
			
		<property name="hbm2ddl.auto">
			update
			<!-- update
		 validate
			update	
			create
			create-drop   
			validate
			 	-->
			
		</property>
		
<!-- Use the C3P0 connection pool provider -->

		<property name="hibernate.c3p0.min_size">3</property>
		<property name="hibernate.c3p0.max_size">15</property>
		<property name="hibernate.c3p0.timeout">300</property>
		<property name="hibernate.c3p0.max_statements">10</property>
		<property name="hibernate.c3p0.idle_test_period">100</property>
		<!-- Show and print nice SQL on stdout -->
		
		<property name="show_sql">false</property>
		<property name="format_sql">false</property>
		
		<!--
		<property name="show_sql">false</property>
		<property name="format_sql">false</property>
		  -->
		<!-- List of XML mapping files -->
		
		
		<!--<mapping resource="ir/analyzer/model/Term.hbm.xml"/>
		<mapping resource="ir/analyzer/model/Document.hbm.xml"/>
		-->
		<!-- 
		<mapping package="ir.analyzer.model"/>
        <mapping class="ir.DocumentTable"/>
        <mapping class="ir.UserTable"/>
        <mapping class="ir.TagTable"/>
        <mapping class="ir.UserTagDocTable"/>
         -->
		</session-factory>
</hibernate-configuration>

